* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 640px;
  height: 320px;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: green;
}

#frame1Txt1 {
  font-family: "DinaHeadline";
  color: #fff;
  top: 20px;
  text-align: right;
  width: 410px;
  position: relative;
  left: 205px;
  opacity:1;
  z-index: 60;
}

#frame_1_size {
  opacity: 0;
}

#ctaTxt {
  font-family: "DinaHeadline-Bold";
  color: #fff;
  font-size: 16px;
  display: inline-block;
 margin-top: -17px;
  text-align: center;
  vertical-align: middle; /* Added for vertical alignment */
}

.imageBg {
  background-repeat: no-repeat;
  background-size: cover; 
  position: absolute;
  top: 1px;
  left: 1px;
  width: 640px;
  height: 320px;
  z-index: 0;
}

.imageBg_frame1 {
  background-repeat: no-repeat;
  background-size: cover; 
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 320px;
  z-index: 5;
}

.imageBg_frame2 {
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
  top: -18px;
  left: -195px;
  width: 640px;
  height: 320px;
  z-index: 5;
}

.logo {
  position: absolute;
  top: 205px;
  left: 466px;
  width: 155px;
  height: 99px;
  z-index: 50;
}

.ctaButton {
  display: inline-block;
  position: relative;
  padding: 8px 30px;
  background-color: #e74c3c; 
  color: #fff; 
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out; 
  left: 205px;
  width: 133px;
  height: 31px;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 200;
  line-height: 31px; /* Vertically align the text in the center */
}

    /* Add a hover effect */
.ctaButton:hover {
  background-color: #003e27;
  color: green;
}

#frame2 {
  font-family: "DinaHeadline";
  color: #fff;
  top: 16px;
  text-align: left;
  width: 300px;
  position: absolute;
  left: 195px;
  opacity:0;
  display: block; 
}

#frame2_mainCopy {
  font-family: "DinaHeadline";
  color: #fff;
  top: 5px;
  left: 10px; 
  width: 410px;
  position: absolute;
  opacity:1;
  z-index: 60;
}

#worldClick {
  width: 640px;
  height: 320px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; 
}

#frame2 ul {
  top: 0px;
  list-style-type: none;
  position: absolute;
  padding-left: 0;
  z-index: 90;
  width: 350px;
  line-height: 25px;
}

#frame2 li {
  top: -20px;
  position: relative;
  padding-left: 46px;
  z-index: 90;
}

#frame2 li::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 22px;
  background: url("https://assets.lemonpi.io/a/k/5d78a436-d459-4b82-96cf-22de7dc8f44b/Assets/Bock_dina.png") no-repeat center/contain;
  padding-right: 20px;
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  z-index: 90;
}

#frame2 li:empty::before {
  display: none; /* Hide the checkbox when the list item is empty */
}

#frame2 li > div {
  /* This would target the second row if it's in a div. If it's not, adjust the selector accordingly. */
  display: block; /* Ensures the div starts on a new line */
}

.checkbox {
  display: none;
}