* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 930px;
  height: 600px;
  text-align: center;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Nordea Sans Large";
}
/* Copy text of frame 1 */
.frame_1 {
  position: absolute;
  top: 352px;
  left: 117px;
  width: 695px;
  height: 130px;
  font-size: 65px;
  line-height: 69px;
}
/* Copy text of frame 1 flex center*/
.frame_1 p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Copy text of frame 2 */
.frame_2 {
  position: absolute;
  top: 180px;
  left: 80px;
  width: 770px;
  height: 130px;
  font-size: 61px;
  line-height: 65px;
}
/* Copy text of frame 2 flex center*/
.frame_2 p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Copy text of frame 3 */
.frame_3 {
  position: absolute;
  top: 180px;
  left: 80px;
  width: 770px;
  height: 130px;
  font-size: 61px;
  line-height: 65px;
}
/* Copy text of frame 3 flex center*/
.frame_3 p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Disclaimer text of frame 4 */
.disclaimer {
  font-family: "Nordea Sans Small";
  font-weight: 400;
  position: absolute;
  color: #FFF;
  top: 217px;
  left: 105px;
  width: 720px;
  height: 98px;
  font-size: 28px;
  line-height: 32px;
}
/* Copy text of disclaimer flex center*/
.disclaimer p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* Tagline text in bottom */
.tagline {
  position: absolute;
  color: #FFF;
  top: 530px;
  left: 65px;
  width: 800px;
  font-size: 31px;
  line-height: 33px;
}
.cta_container {
  position: absolute;
  top: 375px;
  left: 65px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* CTA position and styling */
.cta {
  font-family: "Nordea Sans Small";
  font-weight: 700;
  position: absolute;
  padding:  10px 20px;
  font-size: 22px;
  line-height: 22px;
  border-radius: 20px;
}
/* Position of logo */
.logo {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 205px;
  height: 89px;
  left: 362px;
  top:0px;
}
/* Gradient on first frame */
.gradient {
  position: absolute;
  width: 930px;
  height: 272px;
  left: 0px;
  top: 328px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) -2.27%, rgba(102, 102, 102, 0) 84.74%);
}

/* Video layer */
.video {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* Position of background image */
.bg_image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 930px;
  height: 600px;
  left: 0px;
  top: 0px;
}

/* Position of pulse */
.pulse {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 930px;
  height: 600px;
  left: 0px;
  top: 0px;
}

/* Remove padding and margin from p elements */
p {
  padding: 0;
  margin: 0;
}

/* Position of pulse image */
.pulse_left {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 421px;
  height: 414px;
  left: -172px;
  top: 27px;
}

/* Position of pulse image */
.pulse_right {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 421px;
  height: 414px;
  left: 681px;
  top: 62px;
}