* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 980px;
  height: 240px;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Main copy on left */
.mainCopy {
  font-family: "CreightonPro-Bold";
  position: absolute;
  left: 76px;
  top: 152px;
  font-size: 31px;
  color: white;
  max-width: 350px;
}
/* Position of logo */
.logo {
position: absolute;
width: 196px;
height: 81px;
left: 76px;
top: 46px;
}
/* Product box background */
.productBox {
  position: absolute;
  background-color: white;
  height: 210px;
  width: 500px;
  left: 455px;
  top: 14px;
  border-radius: 5px;
}
/* Product image size and position */
.productImage {
  background-color: #ffffff;
  position: absolute;
  height: 145px;
  width: 200px;
  top: 15px;
  left: 30px;
}
/* Regular price element with black text, ex. "99,-"  */
.regularPrice {
  font-family: "CreightonPro-Bold";
  position: absolute;
  font-size: 70px;
  color: #000;
  top: 45px;
  left: auto;
  right: 18px;
  text-align: right;
}
/* Price sup element */
.priceSup {
  font-size: 50%;
  vertical-align: super;
  top: 0;
}
/* Discounted price element with yellow background and red text, ex. "99,-" */
.salePrice {
  font-family: "CreightonPro-Bold";
  position: absolute;
  padding: 8px 8px 6px 12px;
  border-radius: 12px;
  font-size: 60px;
  top: 42px;
  left: auto;
  right: 32px;
  text-align: right;
  color: #B32013;
  min-width: 111px;
  background-color: #FFE500;
  transform: rotate(-4deg);
}
/* Club price element with JulaClub message, red background and white text, ex. "JulaClub 199,-" */
.clubPrice {
  display: inline-block;
  font-family: "CreightonPro-Bold";
  position: absolute;
  padding: 8px 8px 6px 12px;
  border-radius: 12px;
  font-size: 21px;
  line-height: 16px;
  top: 35px;
  left: auto;
  right: 32px;
  min-width: 111px;
  text-align: right;
  color: #fff;
  background-color: #B32013;
  transform: rotate(-4deg);
}

/* Sale price element ex. "Spara 199,-" */
.saleElement {
  font-family: "Arial";
  font-weight: bold;
  position: absolute;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  font-size: 15px;
  color: white;
  top: 115px;
  left: auto;
  right: 20px;
  text-align: left;
  background-color: #DA3A35;
  transform: rotate(-4deg);
}
/* Hero element ex. "Tokbilligt" */
.heroElement {
  font-family: "Arial";
  font-weight: bold;
  position: absolute;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  font-size: 15px;
  color: white;
  top: 115px;
  left: auto;
  right: 20px;
  text-align: left;
  background-color: #333;
  transform: rotate(-4deg);
}

/* Product name text */
.productName {
  font-family: "CreightonPro-Bold";
  position: absolute;
  font-size: 20px;
  color: black;
  left: 26px;
  top: 175px;
}
/* Call to action button */
.cta {
  position: absolute;
  background-color: #c42d34;
  font-family: "CreightonPro-Bold";
  color: white;
  font-size: 14px;
  padding: 6px 25px;
  left: auto;
  right: 18px;
  top: 172px;
  border-radius: 3px;
}