* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* Background image asset */
.bg_image {
  position: absolute;
  width: 980px;
  height: 240px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Logo image asset */
.logo {
  position: absolute;
  top: 180px;
  left: 20px;
  width: 170px;
  height: 50px;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* Product container */
.productPanel {
  position: absolute;
  top: 10px;
  left: 100px;
  width: 700px;
  height: 220px;
}
.copy_container {
  position: relative; /* Change from absolute to relative */
  top: 20px;
  left: 110px;
  width: 250px;
  height: auto; /* Change to auto to allow height to adjust based on content */
}
/* Product oldPrice */
.oldPrice {
  display: block;
  font-size: 20px;
  font-family: "Mikro-Bold";
  color: #000;
  text-decoration: line-through;
  margin-bottom: -5px; 
}
/* Product oldPrice */
.product_top_copy {
  display: block;
  margin-bottom: -10px;
  font-size: 20px;
  font-family: "Mikro-Bold";
  color: #eb001e;
}
/* Product price */
.productPrice {
  display: block;
  margin-bottom: -15px;
  font-size: 80px;
  font-family: "Mikro-black-otf";
  color: #eb001e;
  letter-spacing: -3px;
}
.mainCopy {
  display: block;
  left: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  font-family: "Trim-Bold_otf";
  color: #eb001e;
  line-height: 42px;
  letter-spacing: -1px;
}
.subcopy {
  position: absolute;
  left: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-family: "Mikro-Bold";
  color: #000;
}
/* Product price currency ex. Kr */
.priceCurrency {
  margin-left: 10px;
  font-size: 20px;
  font-family: "Mikro-Bold";
  letter-spacing: 0px;
}
/* Product price currency ex. Kr */
.priceCurrencySup {
  /* position: relative; */
  margin-left: -40px;
  font-size: 20px;
  font-family: "Mikro-Bold";
  letter-spacing: 0px;
}
/* Sup class on product price */
sup {
  font-size: 50%;
  position: relative;
}
/* Product image asset */
.product_image {
  position: absolute;
  top: 10px;
  right: -100px;
  width: 450px;
  height: 200px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Product container ex 4 för */
.product_badge {
  position: absolute;
  top: 0px;
  left: 315px;
  width: 90px;
  height: 90px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}




