* { 
  box-sizing: border-box;
} 
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
#creative_container {
  width: 980px;
  height: 600px;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid;
}
/* Copy container to flex */
.copy_container {
  position: absolute;
  left: 630px;
  top: 40px;
  height: 463px;
  width: 330px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Decorative text on image */
.deco_text {
  position: absolute;
  text-align: center;
  width: 610px;
  top: 430px;
  font-family: "Nobel-Regular_NEW";
  font-size: 153.729px;
  line-height: 184px;
  color: #fff;
}
/* Main copy in copy container */
.main_copy {
  font-size: 33.7926px;
  line-height: 31px;
  font-family: "Nobel-Regular_NEW";
  margin-bottom: 10px;
}
/* Sub copy in copy container */
.sub_copy {
  font-size: 21.0109px;
  line-height: 22px;
  font-family: "Nobel";
  margin-bottom: 10px;
}
/* Interest copy in copy container */
.interest_copy {
  font-size: 73px;
  line-height: 73px;
  font-family: "Nobel-Regular_NEW";
  margin-bottom: 20px;
}
/* Monthly price copy in copy container */
.monthly_price_copy {
font-size: 55px;
line-height: 55px;
font-family: "Nobel-Regular_NEW";
margin-bottom: 20px;
}
/* Second sub copy in copy container */
.second_sub_copy {
  font-size: 24px;
  line-height: 29px;
  font-family: "Nobel";
  margin-bottom: 20px;
}
/* Disclaimer copy in copy container */
.disclaimer_copy {
  font-size: 14px;
  line-height: 17px;
  font-family: "Nobel";
  margin-bottom: 40px;
}

/* CTA button */
.cta {
  font-size: 17.4346px;
  line-height: 21px;
  padding: 5px 40px;
  font-family: "Nobel-Regular_NEW";
}
/* Background image container */
.bg_image {
  position: absolute;
  height: 600px;
  width: 610px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Video container */
.player {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 600px;
  width: 610px;
}

/* Logo container */
.logo {
  position: absolute;
  left: 688px;
  top: 537px;
  width: 212px;
  height: 38px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Arrow on CTA */
.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}