* { 
  box-sizing: border-box;
} 
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
#creative_container {
  width: 980px;
  height: 300px;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid;
}
/* Copy container to flex */
.copy_container {
  position: absolute;
  left: 650px;
  top: 10px;
  height: 250px;
  width: 310px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Decorative text on image */
.deco_text {
  position: absolute;
  height: 124px;
  left: 20px;
  top: 88px;
  font-family: "Nobel-Regular_NEW";
  font-size: 121.417px;
  line-height: 146px;
  color: #fff;
}
/* Main copy in copy container */
.main_copy {
  font-size: 26.9485px;
  line-height: 24px;
  font-family: "Nobel-Regular_NEW";
  margin-bottom: 8px;
}
/* Sub copy in copy container */
.sub_copy {
  font-size: 16.7556px;
  line-height: 18px;
  font-family: "Nobel";
  margin-bottom: 3px;
}
/* Interest copy in copy container */
.interest_copy {
  font-size: 57.75px;
  line-height: 69px;
  font-family: "Nobel-Regular_NEW";
}
/* Monthly price copy in copy container */
.monthly_price_copy {
font-size: 43.8608px;
line-height: 53px;
font-family: "Nobel-Regular_NEW";
}
/* Second sub copy in copy container */
.second_sub_copy {
  font-size: 16.7556px;
  line-height: 18px;
  font-family: "Nobel";
  margin-bottom: 8px;
}
/* Disclaimer copy in copy container */
.disclaimer_copy {
  font-size: 10px;
  line-height: 10px;
  font-family: "Nobel";
  margin-bottom: 10px;
}

/* CTA button */
.cta {
  font-size: 11.8105px;
  padding: 4px 30px;
  font-family: "Nobel-Regular_NEW";
}
/* Background image container */
.bg_image {
  position: absolute;
  height: 300px;
  width: 630px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Video container */
.player {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 300px;
  width: 630px;
}

/* Logo container */
.logo {
  position: absolute;
  left: 730px;
  top:260px;
  width: 134px;
  height: 24px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Arrow on CTA */
.arrow {
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 1.5px;
  margin-bottom: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}