* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* Panel container flex div */
.left_panel {
  position: absolute;
  width: 320px;
  height: 193px;
  top: 127px;
  left: 0px;
  z-index: 0;
}
/* Panel container flex div */
.img_bg {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.fotobok_logo{
  position: absolute;
  width: 128px;
  height: 45px;
  left: 181px;
  top: 0px;
}
/* Main copy div */
.mainCopy {
  position: absolute;
  width: 280px;
  left: 30px;
  top: 15px;
  color: white;
  font-family: "CEWEHead-Bold";
  font-size: 30px;
  line-height: 33px;
}
/* Main copy div */
.subCopy {
  position: absolute;
  width: 258px;
  left: 30px;
  top: 90px;
  color: white;
  font-family: "CEWEHead-Regular";
  font-size: 18px;
  line-height: 20px;
}
/* Cta button div */
.ctaText {
  position: absolute;
  top: 145px;
  left: 32px;
  padding: 7px 15px 5px 15px; /*Padding top, right, bottom, left */
  text-align: center;
  color: #000;
  font-family: "CEWEHead-Regular";
  font-size: 13px;
  max-width: fit-content; /* Take width from cta content */
  margin: auto;
  border-radius: 8px; /* Making border radius */
}
/* World click div */
.worldClick {
  width: 320px;
  height: 320px;
  display: block;
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}