* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Style of copy frames */
.copy_frames {
  position: absolute;
  top: 38px;
  font-size: 46px;
  color: #fff;
  font-family: "Bulldog Bold Italic";
  text-align: center;
  justify-content: center;
  width: 980px;
  z-index: 10;
}
/* Style of copy frame 1 */
#copy_frame_1 {
  opacity: 0;
}
/* Style of copy frame 2 */
#copy_frame_2 {
  opacity: 0;
}
/* Style of copy frame 2 */
#copy_static {
  opacity: 1;
}
/* Style of span in copy */
.italic {
  font-family: "Bulldog Bold Italic";
}
.sub_copy {
  position: absolute;
  font-family: "clarice regular";
  color: #FFFFFF;
  top: 10px;
  width: 980px;
  text-align: center;
  font-size: 23px;
}
/* Container for your creative */
.cta-container {
  width: 980px; /* Fixed width of the creative */
  display: flex; /* Enables flexbox for this container */
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically */
  height: 100vh; /* Example height, adjust as needed */
}
.cta {
  position: fixed;
  background-color: white; /* Background color of the button */
  color: #000000;
  padding: 10px 20px; /* Padding inside the button */
  text-align: center; /* Ensures text is centered within the button */
  border: none; /* Removes the default border */
  cursor: pointer; /* Changes cursor to pointer on hover */
  text-decoration: none; /* Removes underline from links if applied to <a> tag */
  font-size: 16px; /* Font size of the button text */
  border-radius: 14px; /* Optional: adds rounded corners to the button */
  font-family: "Bulldog - Medium";
  top: 178px; /* Adjust as necessary */
}
.player {
  position: absolute;
  width: 980px;
  height: 240px;
  top: 0px;
  left: 0px;
  background-color: #000;
}
.bg_image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 240px;
  width: 980px;
  left: 0px;
  top: 0px;
}  
/* Logo image position */
.logo {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  width: 98px;
  height: 44px;
  left: 865px;
  top: 180px;
}
/* World click div */
.worldClick {
  width: 980px;
  height: 240px;
  display: block;
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}