* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.currentPrice {
  position: fixed;
  top: 175px;
  width: 280px;
  height: 50px;
  left: 17px;
  text-align: left;
  font-family: 'Roslindale-DisplayCondensedRegular';
  font-size: 18px;
}

#panel_container {
  position: absolute;
  width: 320px;
  height: 85px;
  bottom: 0px;
  z-index: -1;
}

.player {
  position: absolute;
  width: 320px;
  height: 320px;
  top: 0px;
  left: 0px;
  background-color: #000;
}

.seenthis-control-bar {
  z-index: 25;
}

.logoPlaceholder {
  position: absolute;
  width: 110px;
  height: 34px;
  left: 50%;
  top: 270px;
  transform: translate( -50%);
  z-index: 10;
}
/* Product price currency ex. Kr */
.priceCurrency {
  margin-left: 0px;
  font-size: 16px;
  font-family: "Mikro-Bold";
  letter-spacing: 0px;
}
/* Product price currency ex. Kr */
.priceCurrencySup {
  margin-left: -37px;
  font-size: 15px;
  font-family: "Mikro-Bold";
  letter-spacing: 0px;
}
/* Sup class on product price */
sup {
  font-size: 60%;
  top: 5px;
  position: relative;
}
.currentPrice {
  display: block;
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 60px;
  font-family: "Mikro-black-otf";
  color: #eb001e;
  letter-spacing: -3px;
}
.productName_1 {
  display: block;
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 10px;
  font-family: "Mikro-Regular";
  color: #eb001e;
}
.productName_2 {
  display: block;
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 10px;
  font-family: "Mikro-Regular";
  color: #eb001e;
}

/* World click div */
.worldClick {
  width: 320px;
  height: 320px;
  display: block;
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 10;
}