* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 320px;
  height: 320px;
  text-align: center;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* Copy text of frame 1 */
.frame_1 {
  font-family: "Nordea Sans Large - Black";
  position: absolute;
  color: #FFF;
  top: 178px;
  left: 20px;
  width: 279px;
  font-size: 25px;
  line-height: 29px;
}
/* Copy text of frame 2 */
.frame_2 {
  font-family: "Nordea Sans Large - Black";
  position: absolute;
  color: #FBD9CA;
  top: 83px;
  left: 40px;
  width: 240px;
  font-size: 25px;
  line-height: 29px;
}
/* Copy text of frame 3 */
.frame_3 {
  font-family: "Nordea Sans Large - Black";
  position: absolute;
  color: #FBD9CA;
  top: 83px;
  left: 40px;
  width: 240px;
  font-size: 25px;
  line-height: 29px;
}
/* Disclaimer text of frame 4 */
.disclaimer {
  position: absolute;
  color: #FFF;
  top: 90px;
  left: 40px;
  width: 240px;
  font-size: 15px;
  line-height: 19px;
}
/* Tagline text in bottom */
.tagline {
  font-family: "Nordea Sans Large - Black";
  position: absolute;
  color: #FFF;
  top: 254px;
  left: 20px;
  width: 280px;
  font-size: 14px;
  line-height: 19px;
}
/* CTA position and styling */
.cta {
  font-family: "Nordea Sans Large - Black";
  position: absolute;
  color: #0000A0;
  top: 204px;
  left: 60px;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 20px;
}
/* Position of logo */
.logo {
  position: absolute;
  left: 92px;
}
/* Gradient on first frame */
.gradient {
position: absolute;
width: 320px;
height: 111px;
left: 0px;
top: 209px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 2%, rgba(102, 102, 102, 0) 95.95%);
}

/* Pulse on left side */
.left_pulse{
position: absolute;
width: 197px;
height: 194px;
left: -80px;
top: 10px;
}

/* Pulse on right side */
.right_pulse{
position: absolute;
width: 197px;
height: 194px;
left: 203px;
top: 32px;
}
