* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* Background image asset */
.bgImage {
  position: absolute;
  width: 160px;
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Logo image asset */
.logo {
  position: absolute;
  top: 530px;
  left: 0px;
  width: 160px;
  height: 35px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* Product overlay image asset */
.productOverlay {
  position: absolute;
  top: 360px;
  left: -50px;
  width: 400px;
  height: 190px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Product container */
.productPanel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
}
/* Product price */
.productPrice {
  display: block;
  position: absolute;
  left: 15px;
  top: 125px;
  font-size: 55px;
  font-family: "Mikro-black-otf";
  color: #eb001e;
  letter-spacing: -3px;
}
/* Product price currency ex. Kr */
.priceCurrency {
  margin-left: 0px;
  font-size: 16px;
  font-family: "Mikro-Bold";
  letter-spacing: 0px;
}
/* Product price currency ex. Kr */
.priceCurrencySup {
  margin-left: -24px;
  font-size: 16px;
  font-family: "Mikro-Bold";
  letter-spacing: 0px;
}
/* Sup class on product price */
sup {
  font-size: 50%;
  position: relative;
}
/* Product image asset */
.productImage {
  position: absolute;
  top: 265px;
  left: -10px;
  width: 230px;
  height: 230px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
/* Product name */
.productName {
  position: absolute;
  left: 15px;
  top: 195px;
  font-size: 15px;
  font-family: "Mikro-Bold";
  color: #000;
}

/* Product container ex 4 för */
.productContainer {
  position: absolute;
  top: 55px;
  left: 80px;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}




