* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* Style of main copy */
.mainCopy {
  position: absolute;
  padding: 10px 20px;
  font-family: "obos-display-bold";
  font-size: 20px;
  color: white;
  background-color: #002169;
  border-radius: 11px;
  width: 248px;
  height: 116px;
  left: 40px;
  top: 31px;
}
/* Style of sublines */
.subLines {
  position: absolute;
  padding: 10px 20px;
  font-family: "obos-text-medium";
  font-size: 12px;
  color: white;
  border-radius: 11px 11px 0px 0px;
  background-color: #0047BA;
  width: 248px;
  height: 142px;
  left: 40px;
  top: 98px;
}
/* Style of cta */
.cta {
  position: absolute;
  text-align: center;
  font-family: "obos-text-medium";
  font-size: 11px;
  padding: 5px 15px;
  color: white;
  border-radius: 5px;
  background-color: #008761;
  left: 60px;
  top: 202px;
}
/* Style of background image */
.bgImage {
  position: absolute;
  height: 240px;
  width: 980px;
  left: 0px;
  top: 0px;
}
/* Style of logo image */
.logo {
  position: absolute;
  height: 30px;
  width: 126px;
  top: 24px;
  left: 830px;
}
/* Margin of ul list */
ul {
  margin: 7px 10px 7px -20px;
}





