* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 980px;
  height: 600px;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Nationale";
  text-transform: uppercase;
  font-size: 46px;
  text-align: center;
}
/* Background image */
.bgImage {
  position: absolute;
  width: 495px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Background panel */
.bgPanel {
  position: absolute;
  height: 600px;
  width: 980px;
  left: 495px;
}
/* Logo right */
.logo_1 {
  position: absolute;
  width: 130px;
  height: 74px;
  left: 526px;
  top: 515px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Logo left */
.logo_2 {
  position: absolute;
  width: 131px;
  height: 74px;
  left: 0px;
  top: 512px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Logo top middle */
.logo_3 {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 170px;
  top: 222px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* X-icon between logos */
.logo_x {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 480px;
  top: 538px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Flex container for copy frame 1 */
.copyFlex_1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
  width: 485px;
  left: 495px;
}
/* Flex container for copy frame 2 */
.copyFlex_2 {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  height: 540px;
  width: 900px;
  padding: 40px;
  margin: auto;
}
/* Start positions of cities */
.cities {
  position: relative;
  text-align: center
}
/* Location 1 to overlap */
#location_1 {
  position: fixed;
}
/* Location 2 to overlap */
#location_2 {
  position: fixed;
}
/* Location 1 to overlap */
#location_3 {
 position: fixed;
}
/* Flex container for copy frame 3 */
.copyFlex_3 {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: left;
  height: 540px;
  width: 655px;
  left: 325px;
}
/* Font span style for "Nationale" regular  */
.regular {
  font-weight: 400;
  font-style: normal;
}
/* Font span style for "Nationale" regular italic  */
.regular-italic {
  font-weight: 500;
  font-style: italic;
}
/* Font span style for "Nationale" bold  */
.bold {
  font-weight: 700;
  font-style: normal;
}
/* Font span style for "Nationale" bold italic  */
.bold-italic {
  font-weight: 700;
  font-style: italic;
}
