* { 
  box-sizing: border-box;
} 
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
#creative_container {
  width: 320px;
  height: 400px;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid;
}
/* Copy container to flex */
.copy_container {
  position: absolute;
  top: 249px;
  height: 117px;
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Decorative text on image */
.deco_text {
  position: absolute;
  width: 320px;
  height: 92px;
  left: 0px;
  top: 154px;
  font-family: "Nobel-Regular_NEW";
  font-size: 87px;
  line-height: 104px;
  text-align: center;
  color: #fff;
}
/* Main copy in copy container */
.main_copy {
  font-size: 25px;
  line-height: 30px;
  font-family: "Nobel-Regular_NEW";
  margin-bottom: 20px;
}
/* Sub copy in copy container */
.sub_copy {
  font-size: 16.6667px;
  line-height: 20px;
  font-family: "Nobel";
  margin-bottom: 25px;
}
/* CTA button */
.cta {
  font-size: 11.8105px;
  padding: 4px 30px;
  font-family: "Nobel-Regular_NEW";
}
/* Background image container */
.bg_image {
  position: absolute;
  height: 249px;
  width: 320px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Video container */
.player {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 249px;
  width: 300px;
}

/* Logo container */
.logo {
  position: absolute;
  left: 112px;
  top: 366px;
  width: 96px;
  height: 17px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Arrow on CTA */
.arrow {
  border: solid white;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 1.5px;
  margin-bottom: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}