* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

#creative_container {
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;  
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

}

/* Body of banner */
.Frame_320X320Multi {
  width: 320px;
  height: 320px;
  background: #000;
  display: block;
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}


/* Video player div */
.player {
  position: absolute;
  width: 320px;
  height: 167px;
  top: 0px;
  left: 0px;
  background-color: #000;
}

/* Panel container flex div */
.panel_container {
  position: absolute;
  width: 320px;
  height: 140px;
  top: 170px;
  bottom: 0px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

/* Logo image div */
.logo {
  width: 119px;
  height: 29px;
  z-index: 100;
  margin: auto;
  margin-bottom: 10px;
}

/* Main copy div */
.main_copy {
  width: 100%;
  left: 0px;
  margin-bottom: 8px;
  padding: 0px 20px 10px 20px;
  text-align: center;
  color: white;
  font-family: "Netflix Sans Regular";
  font-size: 14px;
  opacity: 0;
}

/* Cta button div */
.cta_copy {
  background-color: #e50914;
  padding: 0px 7px 4px 10px;
  text-align: center;
  color: #FFF;
  font-family: "Netflix Sans Bold";
  font-size: 12px;
  max-width: fit-content; /* Take width from cta content */
  margin: auto;
  opacity: 0;
}

/* World click div */
.worldClick {
  width: 320px;
  height: 320px;
  display: block;
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}

/* Seenthis player control */
.seenthis-control-bar {
  z-index: 200;
}