* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 980px;
  height: 300px;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Main copy on left */
.mainCopy {
  font-family: "CreightonPro-Bold";
  font-style: bold;
  position: absolute;
  left: 65px;
  top: 172px;
  font-size: 31px;
  color: white;
  max-width: 350px;
}
/* Position of logo */
.logo {
position: absolute;
width: 196px;
height: 81px;
left: 65px;
top: 70px;
}
/* Product box background */
.productBox {
  position: absolute;
  background-color: white;
  height: 270px;
  width: 500px;
  left: 455px;
  top: 14px;
  border-radius: 5px;
}
/* Product image size and position */
.productImage {
  position: absolute;
  height: 189px;
  width: 200px;
  top: 15px;
  left: 30px;
}
/* Price element  */
.regularPrice {
  position: absolute;
  font-size: 95px;
  font-family: "CreightonPro-Bold";
  font-style: bold;
  color: black;
  top: 60px;
  left: auto;
  right: 18px;
  text-align: right;
}
/* Product name text */
.productName {
  position: absolute;
  font-family: "CreightonPro-Bold";
  font-size: 20px;
  color: black;
  left: 26px;
  top: 230px;
}
/* Call to action button */
.cta {
  position: absolute;
  background-color: #c42d34;
  font-family: "CreightonPro-Bold";
  color: white;
  font-size: 17px;
  padding: 6px 25px;
  left: auto;
  right: 18px;
  top: 225px;
  border-radius: 3px;
}
#worldClick {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}