* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

#player {
  position: absolute;
  width: 160px;
  height: 600px;
  border: 1px solid black;
}

#copy {
  font-family: 'okta-neue-ultralight';
  font-weight: 900;
  position: absolute;
  font-size: 11px;
  line-height: 14px;
  color: black;
  left: 15px;
  top: 500px;
  max-width: 145px;
}

.seenthis-control-bar {
  display: none;
}