* { 
  box-sizing: border-box;
} 

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 640px;
  height: 320px;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Position of logo */
.logo {
  position: absolute;
  width: 110px;
  height: 81px;
  left: 15px;
  top: 15px;
}

/* Product box background */
.productBox {
  position: absolute;
  background-color: white;
  height: 270px;
  width: 700px;
  left: 0px;
  top: 14px;
  border-radius: 5px;
}

/* Container for product info */
.productInfo {
  position: fixed;
  width: 300px;
  height: 300px;
  left: 400px;
  top: 20px;
}

/* Product image size and position */
.productImage {
  position: absolute;
  height: 140px;
  width: 140px;
  top: 105px;
  left: 410px;
}

/* Universal box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Price element */
.regularPrice {
  position: absolute;
  font-size: 70px;
  font-family: "CreightonProExtraBold", Arial, sans-serif;
  color: #333;
  text-align: center;
  top: 30px;
  min-width: 100px;
  width: 100%;
}

/* Parent container */
.saleContainer {
  position: relative;
  width: 30%;
  height: auto; /* Adjust based on your needs */
}

/* Price sup element */
.priceSup {
  font-size: 50%;
  vertical-align: super;
  top: 0;
}

/* Discounted price element with yellow background and red text, ex. "99,-" */
.salePrice {
  display: inline-block;
  font-family: "CreightonProExtraBold", Arial, sans-serif;
  position: absolute;
  padding: 10px 12px 6px 12px;
  border-radius: 10px;
  font-size: 35px;
  top: 83px;
  left: auto;
  right: -130px;
  text-align: right;
  color: #B32013;
  background-color: #FFE500;
  transform: rotate(-4deg);
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Club price element with JulaClub message, red background and white text, ex. "JulaClub 199,-" */
.clubPrice {
  display: inline-block;
  font-family: "CreightonProExtraBold", Arial, sans-serif;
  position: absolute;
  padding: 10px 8px 6px 12px;
  border-radius: 18px;
  font-size: 17px;
  line-height: 1; /* Adjust line-height */
  top: 49px;
  left: auto;
  right: -127px;
  min-width: 90px;
  max-height: 83px;
  text-align: right;
  color: #fff;
  background-color: #B32013;
  transform: rotate(-4deg);
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Sale price element ex. "Spara 199,-" */
.saleElement {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  position: absolute;
  padding: 0.5em;
  border-radius: 4px;
  font-size: 12px;
  color: white;
  top: calc(50px + 76px); /* Positioned relative to .salePrice */
  left: auto;
  right: -147px;
  min-width: 80px;
  text-align: left;
  background-color: #DA3A35;
  transform: rotate(-4deg);
  width: auto; /* Adjust width based on content */
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Hero element ex. "Tokbilligt" */
.heroElement {
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  position: absolute;
  padding: 2px 8px 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  color: white;
  top: calc(50px + 78px); /* Positioned relative to .salePrice */
  left: auto;
  right: -135px;
  text-align: left;
  background-color: #333;
  transform: rotate(-4deg);
  width: auto; /* Adjust width based on content */
  white-space: nowrap; /* Prevent text from wrapping */
}

/* Product name text */
.productName {
  font-family: "Taz-Regular";
  position: absolute;
  font-size: 22px;
  color: #333;
  left: 0px;
  top: 160px;
  width: 300px;
  text-align: center;
}

/* Product price info text */
.priceInfo {
  position: absolute;
  font-family: "Taz-Regular";
  font-size: 11px;
  color: #fff;
  left: -22px;
  top: 267px;
  width: 300px;
  text-align: center;
  text-decoration: line-through;
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
}

.player {
  position: absolute;
  width: 400px;
  height: 320px;
  top: 0px;
  left: 0px;
  background-color: #000;
}

#campaignText {
  font-family: "CreightonPro-Bold";
  text-align: center;
  font-size: 21px;
  position: absolute;
  width: 220px;
  height: 50px;
  top: 20px;
  left: 410px;
}

#ctaText {
  padding: 8px 10px; /* top, right, bottom, left */
  bottom: 15px;
  right: 20px;
  font-family: "CreightonPro-Bold";
  color: white;
  background-color: black;
  position: fixed;
}

/* World click div */
.worldClick {
  width: 640px;
  height: 320px;
  display: block;
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}
