* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

#creative_container {
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;  
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

}

/* Body of banner */
.Frame_640x640Multi {
  width: 640px;
  height: 640px;
  background: #000;
  display: block;
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Video player div */
.player {
  position: absolute;
  width: 640px;
  height: 320px;
  top: 0px;
  left: 0px;
  background-color: #000;
  margin-bottom: 200px;
}

/* Panel container flex div */
.panel_container {
  position: absolute;
  width: 640px;
  height: auto;
  top: auto;
  bottom: 70px;
  background: #000;
}

/* Add this pseudo-element for the shadow effect */
.panel_container::before {
  content: "";
  position: absolute;
  top: -46px; /* Position it above the container */
  left: 0;
  right: 0;
  bottom: 100%; /* Extend the shadow downwards */
  height: 46px; /* Adjust the height to control the shadow area */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Gradient shadow */
  pointer-events: none; /* Ensures the pseudo-element doesn't interfere with interactions */
  z-index: 2; /* Ensure the shadow is above the panel */
}

/* Copy container flex div */
.copyContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo image div */
.logo {
  position: absolute;
  border-left: solid #e50914 1px;
  left: 310px;
  width: 200px;
  height: 60px;
  z-index: 100;
  padding-left: 35px;
  bottom: 20px;
  top: auto;
  opacity: 0;
}

/* Main copy div */
.main_copy {
  width: 100%;
  left: 0px;
  margin-bottom: 20px;
  padding: 0px 25px 10px 25px;
  text-align: center;
  color: white;
  font-family: "NetflixSans_UCdBd";
  font-size: 35px;
  opacity: 0;
}

/* Cta button div */
.cta_copy {
  position: absolute;
  background-color: #e50914;
  padding: 6px 13px 8px 13px;
  text-align: center;
  color: #FFF;
  font-family: "Netflix Sans Bold Comp";
  font-size: 18px;
  max-width: fit-content; /* Take width from cta content */
  opacity: 0;
  right: 365px;
  bottom: 30px;
  left: auto;
  top: auto;
}

/* World click div */
.worldClick {
  width: 640px;
  height: 640px;
  display: block;
  position: fixed;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}

/* Seenthis player control */
.seenthis-control-bar {
  z-index: 200;
}