* { 
  box-sizing: border-box;
} 
@font-face {
  font-family: FordAntennaCond-Regular;
  src: url("https://s0.2mdn.net/creatives/assets/4977512/FordAntennaCond-Regular.otf");
}
@font-face {
  font-family: FordAntennaCond-Black;
  src: url("https://s0.2mdn.net/creatives/assets/4977512/FordAntennaCond-Black.otf");
}
@font-face {
  font-family: FordAntenna-Regular;
  src: url("https://s0.2mdn.net/creatives/assets/4977512/FordAntenna-Regular.otf");
}
@font-face {
  font-family: FordAntennaExtraCond-Black;
  src: url("https://s0.2mdn.net/creatives/assets/4977512/FordAntennaExtraCond-Black.otf");
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

#creative_container {
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


#bg_image {
  width: 640px;
  height: 320px;
}
#frame_1_copy {
  font-family: "FordAntennaExtraCond-Black";
  position: absolute;
  top: 20px; /* Behåller samma höjdposition som tidigare */
  height: 86px;
  color: #fff;
  left: 50%; /* Centrerar horisontellt */
  transform: translateX(-50%); /* Centrerar horisontellt */
  opacity: 1;
  line-height: 39px;
  font-size: 45px;
  text-align: center;
  width: 700px;
}

#frame_2_copy {
  font-family: "FordAntennaExtraCond-Black";
  position: absolute;
  top: 20px; /* Behåller samma höjdposition som tidigare */
  height: 86px;
  color: #fff;
  left: 50%; /* Centrerar horisontellt */
  transform: translateX(-50%); /* Centrerar horisontellt */
  opacity: 1;
  line-height: 39px;
  font-size: 45px;
  text-align: center;
  width: 700px;
}


#cta_text {
  position: absolute;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "FordAntennaCond-Regular";
  font-weight: 400;
  margin-block: 13.28px;
  margin-bottom: 13.28px;
  margin-top: 13.28px;
  font-size: 15px;
  height: 30.64px;
  top: 246px;
  left: 19px;
  width: 105px;
}
#cta_button {
  position: absolute;
  background-color: rgb(0, 9, 91);
  border-radius: 5px;
  border-width: 0px;
  text-align: center;
  line-height: 100px;
  color: rgb(255, 255, 255);
  left: 16px;
  height: 33px;
  top: 252px;
  width: 106px;
}
#subCopy_static {
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: 400;
  opacity: 1;
  font-family: FordAntennaCond-Regular;
  margin-block: 19.92px;
  margin-bottom: 19.92px;
  margin-top: 19.92px;
  text-align: left;
  width: 207px;
  font-size: 18px;
  line-height: 18px;
  left: 21px;
  height: 18px;
  top: 187px;
}
#logo_image {
  position: absolute;
  width: 102px;
  height: 36.72px;
  left: 522px;
  top: 269px;
}

#af_image {
  position: absolute;
  width: 175px;
  height: 28.35px;
  left: 449px;
  top: 230px;
}

#legal_btn {
  font-family: "FordAntenna-Regular";
  position: absolute;
  width: 75px;
  height: 24px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  top: 296px;
  left: 20px;
}

#legal_txt {
  color: rgb(255, 255, 255);
  font-family: FordAntennaCond-Regular;
  font-size: 14px;
  font-weight: 400;
  margin-block: 11.62px;
  margin-bottom: 11.62px;
  margin-top: 11.62px;
  width: 320;
  height: 191px;
  left: 29px;
  top: 14px;
  margin-left: 20px;
  width: 600px;
}

#legal_bg {
  width: 640px;
  height: 320px;
  background-color: rgba(128, 128, 128, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
}
#worldClick {
  width: 640px;
  height: 320px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}